@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lexend+Giga:wght@100..900&family=Permanent+Marker&display=swap');
*{
    margin: 0%;
    font-family: Arial, sans-serif;
}
.header{
    position: fixed;
    height: 15vh;
    width: 100vw;
    background-color: rgb(58, 138, 102);
}
.headertext{
    font-size: 7vh;
    top: 3vh;
    right: 5%;
    position: fixed;
}
.elipse{
    top: 2vh;
    left: 5%;
    position: fixed;
}
.backimage{
    position: fixed;
}
.background{
    height: 100vh;
    width: 100vw;
    opacity: 70%;
}
.elipseImg{
    height: 10vh;
    border-radius: 50%;
}
.pfpImg{
    height: 30vh;
    border-radius: 50%;
}
.pfpdiv{
    top: 21%;
    left: 20%;
    position: fixed;
}
.fname{
    top: 55%;
    left: 20%;
    position: fixed;
}
.whatfname{
    top: 60%;
    left: 20%;
    position: fixed;
}
.sname{
    top: 65%;
    left: 20%;
    position: fixed;
}
.whatlname{
    top: 70%;
    left: 20%;
    position: fixed;
}
.email{
    top: 75%;
    left: 20%;
    position: fixed;
}
.whatemail{
    top: 80%;
    left: 20%;
    position: fixed;
}
.contact{
    top: 85%;
    left: 20%;
    position: fixed;
}
.whatcnum{
    top: 90%;
    left: 20%;
    position: fixed;
}
.reasonwhy{
    top: 25%;
    left: 40%;
    position: fixed;
    font-size: 3vh;
}
.tellmewhy{
    top: 30%;
    left: 40%;
    position: fixed;
    height: 50vh;
    width: 40vw;
    background-color: rgb(255, 255, 255);
}
#tellmewhy{
    margin: 5%;
}
.shadow{
    top: 54%;
    left: 19%;
    position: fixed;
    height: 40vh;
    width: 17vw;
    background-color: rgb(255, 255, 255);
}
.logo{
    height: 13vh;
    border-radius: 50%;
}
.logodiv{
    top: 1vh;
    right: 55vw;
    position: fixed;
}
fieldset{
    top: 16%;
    left: 5%;
    position: fixed;
    width: 90vw;
    height: 79vh;
    border: 3px solid black;
    
}
legend{
    text-align: center;
    font-size: 5vh;
}
